/*
 * G R I D
 *
*/

.column {
	margin: 0 .5%;
}

.column-20 {
	width: 19%;

	&.zeta {
	width: 20%;
	}
	&.alpha,
	&.omega {
		width: 19.5%
	}
}
.column-25 {
	width: 24%;

	&.zeta {
	width: 25%;
	}
	&.alpha,
	&.omega {
		width: 24.5%
	}
}
.column-30 {
	width: 29%;

	&.zeta {
	width: 30%;
	}
	&.alpha,
	&.omega {
		width: 29.5%
	}
}
.column-35 {
	width: 34%;

	&.zeta {
	width: 35%;
	}
	&.alpha,
	&.omega {
		width: 34.5%
	}
}
.column-40 {
	width: 39%;

	&.zeta {
	width: 40%;
	}
	&.alpha,
	&.omega {
		width: 39.5%
	}
}
.column-50 {
	width: 49%;

	&.zeta {
	width: 50%;
	}
	&.alpha,
	&.omega {
		width: 49.5%
	}
}
.column-60 {
	width: 59%;

	&.zeta {
	width: 60%;
	}
	&.alpha,
	&.omega {
		width: 59.5%
	}
}
.column-70 {
	width: 69%;

	&.zeta {
	width: 70%;
	}
	&.alpha,
	&.omega {
		width: 69.5%
	}
}
.column-75 {
	width: 74%;

	&.zeta {
	width: 75%;
	}
	&.alpha,
	&.omega {
		width: 74.5%
	}
}
.column-80 {
	width: 79%;

	&.zeta {
	width: 80%;
	}
	&.alpha,
	&.omega {
		width: 79.5%
	}
}
.column-90 {
	width: 89%;

	&.zeta {
	width: 90%;
	}
	&.alpha,
	&.omega {
		width: 89.5%
	}
}
.column-100 {
	margin: 0;
	width: 100%;
}
.alpha {
	margin-left: 0 !important;
}
.omega {
	margin-right: 0 !important;
}
.zeta {
	margin: 0 !important;
}



































