@import "bulma/bulma";

body {
	&.login {
		background: $first;

		form {
			margin-left: 0;
			padding: 0;
			background: $first;
			border: none;
			position: relative;
			border-radius: 0;
			box-shadow: none;
		}

		p {
			label {
				color: #fff;
				text-shadow: 1px 1px 0 rgba(#000, .2);
			}

			&.forgetmenot {
				float: none;
				margin-bottom: 10px !important;
			}
		}

		h1 {
			a {
				background-image: url('../images/logo-login.png');
				background-size: 300px 65px;
				background-position: top center;
				background-repeat: no-repeat;
				width: 320px;
				height: 65px;
				text-indent: -9999px;
				overflow: hidden;
				padding-bottom: 15px;
				display: block;
			}
		}

		input[type="checkbox"] {
			background: #fff !important;
			border: none !important;
			display: inline-block;
		}

		input[type="submit"] {
			background: #f9f9f9;
			text-shadow: none;
			padding: 8px 35px !important;
			height: auto !important;
			color: #333;
			border: none;
			border-radius: 0;
			box-shadow: 1px 1px 3px rgba(#000, .2);

			&:hover,
			&:active,
			&:focus {
				color: #333;
				background: darken(#f9f9f9, 10%);
				box-shadow: 1px 1px 3px rgba(#000, .2);
			}
		}
		input[type="text"], input[type="text"]:focus,
		input[type="password"], input[type="password"]:focus {
			border: none;
			font-weight: normal;
			padding: 10px;
			text-align: left;
			background: #fff;
			box-shadow: 1px 1px 3px rgba(#000, .2);
			border-radius: 0;
		}
		#nav, #backtoblog {
			padding: 0;
			margin: 0 auto;
			width: 275px;
			font-size: 16px;
			text-align: center;
			background: none;
			border: none;
		}
		#nav a, #backtoblog a{
			color: #fff !important;
			text-decoration: none;
		}
		#nav {
			margin-top: 20px;
			padding-top: 20px;
			border-top: 1px solid darken($first, 5%);
			border-bottom: none;
		}
		#backtoblog {
			font-size: 14px;
			-webkit-border-bottom-right-radius: 3px;
			-webkit-border-bottom-left-radius: 3px;
			-moz-border-radius-bottomright: 3px;
			-moz-border-radius-bottomleft: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
}