@import "utilities/all"
@import "base/all"
@import "components/all"
@import "elements/all"
@import "grid/all"
@import "layout/all"

$family-serif: "Georgia", serif // Add a serif family
$first: $orange
$second: $blue
$base-border-color: $grey-lighter
