.select-wrapper {
	position: relative;

	.scrollbar-inner > .scroll-element .scroll-bar {
		background: darken($first, 5%);
	}
	.scrollbar-inner > .scroll-element .scroll-element_track {
		background: tint($first, 15%);
	}

	&.alt {
		background: none;
		border: 1px solid #555;
	}

	&::after {
		content: "\f0d7";
		color: $first;
		position: absolute;
		top: 0;
		right: 20px;
		font-family: 'FontAwesome';
		z-index: 5;
	}

	select {
		display: inline-block;
		width: auto;
		position: relative;
		font-size: em(16);
		top: 4px;
		z-index: 9;
	}
}

.cssanimations.flexboxlegacy {

	&.touchevents {
		.select-wrapper {
			&::after {
				top: 0;
				color: #333;
			}
			select {
				color: #333;
				border-radius: $base-border-radius;
				height: 50px;
				border: $base-border;
			}
		}
	}

	&.no-touchevents {
		.select-wrapper {
			background: none;
			border: none;

			&::after {
				display: none;
			}

			select {
				position: fixed;
				top: -1000px;
				left: -1000px;
			}
		}
	}

	.select-wrapper {
		border-radius: 0;

		&::after {
			content: "\f107";
			color: $first;
			position: absolute;
			top: 15px;
			font-size: 21px;
			right: 20px;
			font-family: 'FontAwesome';
			z-index: 5;
		}

		.select {
			position: relative;
			height: 50px;
			width: 100%;
			margin-bottom: 0.75em;

			.visor {
			  border: $base-border;
			  border-right: 0;
			  border-radius: $base-border-radius 0 0 $base-border-radius;
				background: #fff;
				width: calc(100% - 50px);
				overflow: hidden;
				line-height: 50px;
				padding-left: 10px;
				height: 100%;
				cursor: pointer;
				position: relative;
				z-index: 10;

				&:hover {
					background: #f8f8f8;
				}
			}

			.indicator {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 10;
				width: 50px;
				height: 100%;
				font-size: 32px;
				text-align: center;
				color: #999;
				border: $base-border;
				border-radius: 0 $base-border-radius $base-border-radius 0;
				cursor: pointer;

				i {
					color: #999;

					&.fa-angle-down {
						line-height: 52px;
					}
					&.fa-angle-right {
						line-height: 47px;
					}
				}
			}

			.options {
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				z-index: 999;
				background: #fff;
				box-shadow: 0 1px 4px rgba(#000, .53);

				.option {
					padding: 10px;
					cursor: pointer;
					color: $first;
					text-transform: uppercase;
					background: #fff;
					border-bottom: 1px solid lighten($first, 8%);

					&:hover {
						background: #eee;
					}

					&.selected {
						background: $first;
						color: #fff;
					}
				}
			}
		}

		select {
			color: #333;
			background: none;
			margin-top: 0;
			border-radius: 0;
			border: none;
			width: 100%;
			height: 100%;
			padding-left: 10px;
			text-align: center;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		&.alt {
			.select {
				.visor {
					background: none;
					border: 1px solid #555;
					color: #999;

					&:hover {
						border-color: shade($base-border-color, 20%);
					}
				}
				.indicator {
					background: none;
					color: #555;
					border-color: #555;
				}
				.options {
					.option {
						color: #555;
						border-color: #555;
					}
				}
			}
		}
	}
}
