.expandables {

	.expandable {
		background: $second;
		margin-bottom: 10px;
	}
	.expandable-title {
		position: relative;
		padding: 10px;
		background: darken($second, 2%);
		height: 50px;

		span {
			font-size: 14px;
	    text-transform: uppercase;
	    font-weight: bold;
	    padding-top: 5px;
	    color: #fff;
	    display: block;
		}
	}
	.expandable-trigger {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 50px;
		height: 40px;
		font-size: 24px;
		line-height: 42px;
		text-align: center;
		background: #fff;
		color: $second;
		border-radius: 3px;

		&:hover, &.active {
			cursor: pointer;
			color: $first;
		}
	}
	.expandable-content {
		padding: 10px 0;

		.expandable-content-inner {
			padding: 20px;
			background: #f9f9f9;
			width: 90%;
			border-radius: 5px;
			margin: 10px auto;

			p, ol, ul {
				font-size: 14px;
				color: #333;
			}
			ol, ul {
				margin-top: 20px;
				margin-bottom: 40px;

				li {
					margin-bottom: 10px;
				}
			}
			ol {
				list-style-type: decimal;
			}
			ul {
				list-style-type: disc;
			}
		}
	}
}